@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to N.I.D.S a byproduct of Khufu's Kloud.
    N.I.D.S allows for neural interaction with computative generative code schemes loaded withing the prefrontal cortex.
    This "mental handshake" allows for generative thinking coprised with R.A.M capabilities.
    </p>
